# For Node.js + cross-platform projects
* text=auto

# Enforce LF for all source files
*.ts text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.env text eol=lf
*.gitignore text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
